body{
    margin: 0;
    padding:0;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/13150965-fundo-laranja-com-efeito-de-triangulo-aleatorio-gratis-vetor.jpg');
}

main{
    display: flex;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/13150965-fundo-laranja-com-efeito-de-triangulo-aleatorio-gratis-vetor.jpg');
    margin-top: 0px;
}
.frame {
  display: flex;
  }
  
  .line-1, .line-2, .line-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .cards {
    margin: 0 10px;
    
  }
  

  .current-score, .best-score {
    font-weight: bold;
    margin-left: 5px;
  }

.cards{
    width: 6rem;
    height: 8rem;
    border-radius:20px;
}
div page-1{
  width: 100%;
}
header{
  display: flex;
  height: 4rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgb(253, 0, 0);
  align-items: center;
  justify-content: space-between;
}
.imagem{
  margin-left: 2rem;
  display: flex;
  height: 50px;
  width: 40px;
}
.navigation-father{
  display: flex;
}
.navigation{
  color: beige;
  cursor: pointer;
  margin-right: 2rem;
  list-style: none;
  text-decoration: none;
}
.navigation:hover{
  text-decoration: underline;
  font-weight:lighter;
  color: rgb(212, 197, 176);
}
.section-left{
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: 3rem;
  border: 2px solid rgb(221, 131, 63);
  height: 90%;
  width: 90%;
}
.section-left:hover{
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: 3rem;
  border: 2px solid rgb(255, 4, 4);
  height: 90%;
  width: 90%;
}
section h1{
 color:rgb(232, 222, 222) ; 
  display: flex;
 justify-content: center;
}
.apresentation-game-page1{
  flex-wrap: wrap;
  padding: 10px;
  text-align: start;
  color: rgb(232, 222, 222);
}
.section-right{
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: 3rem;
  border: 2px solid rgb(221, 131, 63);

}
.footer-page-1{
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 111, 56);
  height: 5rem;
  width: 100%;
  /* footer fixada no rodape */
  bottom: 0;
  position: absolute;
}
.left-footer{
  margin: 0.5rem;
  width: 10rem;
  height: 3rem;
}
.img-footer{
  display: block;
  margin-left: 1.9rem;
  align-items: center;
  height: 3em;
  justify-content: center;
}
.right-footer{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
}
.img-instagram{
  height: 3rem;
}
main div{
  display: flex;
}
.play{
  height: 100vh;
  width: 100vw;
}
a{
  cursor: pointer;
}
#marcelin{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3rem;
  padding: 2rem 6rem 10rem 2rem;
  border: 2px solid black;
  max-width: 50px;
  margin-left: 80vw;
  justify-content: center;
  align-items: center;

}
.games{
  margin-top: -18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.page-initial{

}

.screen-game{
  display: none;
}